.user-form {
  width: 60%;
  margin: auto;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.user-form label,
.user-form input {
  padding: 8px;
}
.user-form label {
  cursor: pointer;
}

.user-form-footer {
  grid-column-start: 2;
  display: flex;
  justify-content: flex-end;
}

.user-form-footer .btn {
  border: none;
  outline: none;
  font-size: inherit;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 200ms;
}
.user-form-footer .btn + .btn {
  margin-left: 5px;
}
.user-form-footer .btn-save {
  background-color: rgb(51 145 51);
  color: white;
}
.user-form-footer .btn-save:hover {
  background-color: #3f8f3f;
}
.user-form-footer .btn-close {
  background-color: #22284c;
  color: white;
}
.user-form-footer .btn-close:hover {
  background-color: #363c66;
}
